#footer
{
	/*
		헤더의 backgound img 가로 길이
	*/  
	max-width:2410px;
	margin:auto;
	
	background-color:#363636;
}

#footer div
{
	padding:2% 0 2% 0;
}

#footer p
{
	color:#a4a3a3;
}

#footer img
{
	margin:auto;
}
