#header
{
	background:url(/resources/imgs/bg_main.jpg) no-repeat center center;
}

#mainPageHeader div
{
	padding:2% 0 2% 0;
}

#mainPageHeader img
{
	margin:auto;
	padding-top:5%;
}
#mainPageHeader p
{
	padding-top:5%;
}

#mainPageBtnWrap
{
	margin:auto;
	width:100%;
}
.mainPageBtn
{
	width:50%;
	display:inline-block;
	border:1px solid #fff;
	cursor:pointer;
	background-color:none;
	margin:2%;
	
	color:#fff;
	font-weight:bold;
	font-size:1.4em;
	text-align:center;
}

.mainPageBtn:hover
{
	background-color:#fff;
	color:#000;		
}